//Modules
@use 'variables';
@use 'mixins';

.about {
  width: 100%;
}

.skills {
  @include mixins.flex(center, center, column);
  width: 100%;
  position: relative;
  text-align: center;
}

.skill-title {
  font-weight: 700;
  font-size: 1rem;
  margin: 1.5rem 0;
}

.skill-card {
  @include mixins.flex(center, center, column);
  width: 70vw;
  height: 60vh;
  background-color: #ffffff;
  border-radius: 2.5rem;
  margin: 2rem 0;
  padding: 2rem;
}

.skill-card-img {
  @include mixins.flex(center, center);
  width: 45%;
}

.skill {
  font-size: 0.9rem;
  font-weight: 500;
}

.diag-purp,
.diag-gold {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -5;
}

.diag-purp {
  background-color: variables.$deeppurp;
  transform: skewY(-10deg);
}

.diag-gold {
  background-color: variables.$gold;
  transform: skewY(10deg);
}

.about-me {
  width: 100%;
  height: 85vh;
  position: relative;
  padding: 2rem 0;
  margin-top: 2rem;
  text-align: center;
  @include mixins.flex(center, center, column);
}

.about-me-title {
  margin-bottom: 1rem;
  font-weight: 700;
}

.about-me-description {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 1.5rem;
}

.gold-circle,
.purp-circle {
  border-radius: 100%;
  width: 75vw;
  height: 50%;
  position: absolute;
  z-index: -5;
}

.gold-circle {
  background-color: variables.$gold;
  top: 35%;
  left: 5%;
}

.purp-circle {
  background-color: variables.$deeppurp;
  right: 5%;
}

@media (min-width: 1024px) {
  .skills {
    @include mixins.flex(center, space-evenly);
    margin: 3rem 0;
    padding: 3rem 0;
  }

  .skill-card {
    width: 25vw;
  }

  .skill-card-img {
    width: 35%;
  }

  .gold-circle,
  .purp-circle {
    width: 40vw;
    height: 60%;
  }

  .gold-circle {
    top: 20%;
    left: 15%;
  }

  .purp-circle {
    top: 10%;
    right: 15%;
  }

  .about-me-title {
    font-size: 1.25rem;
  }

  .about-me-description {
    width: 50%;
  }
}
