//Modules
@use 'variables';
@use 'mixins';

.home {
  height: 100vh;
  width: 100%;
  position: relative;
}

.intro {
  font-weight: 800;
  text-align: center;
  font-size: 2rem;
}

.intro-container {
  padding: 1rem;
  width: 100%;
  position: relative;
  top: 30%;
}

.scroll-container {
  padding: 1rem;
  width: 100%;
  @include mixins.flex(center, center, column);
  position: absolute;
  bottom: 0;
  font-weight: 500;
}

.scroll-btn {
  margin-top: 0.5rem;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}

.arrow {
  color: #000000;
  height: 2.5rem;
}

.hero-block {
  width: 50vw;
  height: 70vh;
  position: absolute;
  z-index: -2;
}

.gold-block {
  background-color: variables.$gold;
  top: 0;
  right: 20%;
}

.purp-block {
  background-color: variables.$deeppurp;
  bottom: 0;
  right: 0;
}

.face {
  display: none;
}

@media (min-width: 1024px) {
  .intro-container {
    width: 50%;
    left: 50%;
    top: 40%;
  }
  .intro {
    text-align: left;
  }

  .face {
    display: block;
    position: absolute;
    height: 70vh;
    left: 5%;
  }

  .hero-block {
    width: 30vw;
  }

  .gold-block {
    right: 15%;
  }
}
