//Modules
@use 'variables';
@use 'mixins';

.logo {
  height: 3rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1.5rem;
  margin-bottom: 2rem;
  z-index: 10;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: none;
}

.navbar.active {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.navlist {
  list-style: none;
}

.navlinks {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  padding: 1.5rem;
  line-height: 2.5rem;
}

.hamburger {
  display: inline;
  color: black;
  height: 1rem;
}

.hamburger.active {
  display: none;
}

.close {
  display: none;
}

.close.active {
  display: inline;
}
